MONGO_URL=mongodb://127.0.0.1:27017
DB_NAME=mergeforge
BACKEND_PORT=8001
WORKSPACE_DIR=/var/lib/mergeforge/workspace
HF_CACHE_DIR=/var/lib/mergeforge/workspace/hf_cache
PUBLIC_BASE_URL=http://localhost:7070
ADMIN_SECRET=please-generate-a-random-string
# HF_TOKEN=hf_xxx
